html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 180px;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
  color: #fcb8f3;
  background-color: #001742;
}

.topbar__logo img {
  width: 450px;
  height: 150px;
  margin-left: 80px;
}

.topbar__menu {
  display: none;
}

.menu {
  margin-right: 10px;
}

.menu a {
  padding: 0px 50px;
  font-size: 1.4em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu a:hover {
  color: #9d2bb4;
  text-decoration: underline;
  text-underline-position: under;
  text-shadow: 1px 1px 2px #9d2bb4;
}

.menu i {
  display: none;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  margin: auto;
  width: 98%;
  -webkit-box-shadow: 3px 8px 5px #242424;
          box-shadow: 3px 8px 5px #242424;
  border-radius: 10px;
}

.banner__block {
  background-color: #242424;
  width: 40%;
  border-radius: 10px 0 0 10px;
}

.banner img {
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 10px 10px 0;
}

.banner__title {
  position: absolute;
  padding: 20px 30px;
  margin-left: 30px;
  color: #FFF;
  font-size: 2.2em;
}

.banner__title h1 {
  color: #FFF;
  border: solid;
  border-color: #26a3cc #9d2bb4 #9d2bb4 #26a3cc;
  padding: 0 20px;
}

.banner__title p {
  font-size: 0.8em;
  padding-top: 50px;
  text-shadow: 1px 1px 1px #000;
}

h2.propos {
  color: #26a3cc;
}

.container__propos {
  margin-top: 100px;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  height: 460px;
  -webkit-box-shadow: 3px 3px 8px #242424;
          box-shadow: 3px 3px 8px #242424;
  border-radius: 10px;
  padding-left: 10px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
  margin-bottom: 35px;
  font-size: 2.5em;
  font-weight: 900;
  color: #9d2bb4;
  text-shadow: 1px 1px 0px black;
}

.container__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-width: 300px;
  max-width: 800px;
  font-size: 1.4em;
  margin: auto;
  margin-bottom: 25px;
}

.container__button {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 2em;
  border: 0;
  line-height: 2.5;
  padding: 0 60px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background: #26a3cc;
  -webkit-box-shadow: 2px 3px 3px black;
          box-shadow: 2px 3px 3px black;
}

.container__button.creneau {
  background-color: #9d2bb4;
}

.container__image {
  padding: 10px;
}

.container__image img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 425px;
  height: 440px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.contact {
  margin-top: 40px;
}

.container__align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 100px;
  padding-bottom: 100px;
}

.container__network {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  -webkit-box-shadow: -3px -3px 8px #242424;
          box-shadow: -3px -3px 8px #242424;
  padding: 10px;
  border-radius: 10px;
}

.contact_textAlign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  color: white;
  font-size: 1.5em;
}

.blocFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: black;
  height: 300px;
  padding: 20px;
  z-index: 40;
}

.right-sideFoot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.right-sideFoot a {
  margin-bottom: 20px;
}

.alignRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  margin-right: 15px;
  font-size: 1.5em;
}

.blocFooter img {
  width: 400px;
  height: 250px;
  z-index: 50;
}

.underline {
  text-decoration: underline;
}

[class*="revealL-"] {
  opacity: 0;
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
}

.revealL-visible {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 1s cubic-bezier(0.5, 0, 0, 0.7);
  transition: 1s cubic-bezier(0.5, 0, 0, 0.7);
}

.revealL-1 {
  -webkit-transition: .4s;
  transition: .4s;
}

.revealL-2 {
  -webkit-transition: .8s;
  transition: .8s;
}

.revealL-3 {
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.revealL-4 {
  -webkit-transition: 1.6s;
  transition: 1.6s;
}

[class*="revealR-"] {
  opacity: 0;
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
}

.revealR-visible {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 1s cubic-bezier(0.5, 0, 0, 0.7);
  transition: 1s cubic-bezier(0.5, 0, 0, 0.7);
}

.revealR-1 {
  -webkit-transition: .4s;
  transition: .4s;
}

.revealR-2 {
  -webkit-transition: .8s;
  transition: .8s;
}

.revealR-3 {
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.revealR-4 {
  -webkit-transition: 1.6s;
  transition: 1.6s;
}

[class*="revealN"] {
  opacity: 0;
}

.revealN-visible {
  opacity: 1;
  -webkit-transition: 1s cubic-bezier(0.5, 0, 0, 0.7);
  transition: 1s cubic-bezier(0.5, 0, 0, 0.7);
}

.revealN-1 {
  -webkit-transition: .5s;
  transition: .5s;
}

.revealN-2 {
  -webkit-transition: 3s;
  transition: 3s;
}

.fixed {
  position: fixed;
  top: 0;
}

@media screen and (max-width: 800px) {
  body {
    width: 100%;
  }
  .topbar__logo img {
    width: 150px;
    height: 50px;
    margin-left: 20px;
  }
  .menu a {
    display: none;
  }
  .menu i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 20px;
    font-size: 2.5em;
  }
  .banner__title {
    padding: 10px 15px;
    margin-left: 10px;
    color: #FFF;
    font-size: 1em;
    text-shadow: 1px 1px 1px #000;
  }
  .banner__title p {
    font-size: 0.9em;
    padding-top: 20px;
  }
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 300px;
    margin: auto;
    width: 98%;
    -webkit-box-shadow: 3px 8px 5px #242424;
            box-shadow: 3px 8px 5px #242424;
    border-radius: 10px;
    background-color: #242424;
  }
  .banner__image {
    display: none;
  }
  .container__image {
    display: none;
  }
  .imageContact.imageContact {
    width: 100%;
    height: 240px;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .container__propos {
    margin-top: 50px;
    background-color: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-shadow: 5px 5px 8px #66b4ce;
            box-shadow: 5px 5px 8px #66b4ce;
    border-radius: 10px;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 2em;
    font-weight: 900;
    color: #9d2bb4;
    text-shadow: 1px 1px 0px black;
  }
  .container__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 15px;
  }
  .container__button {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.5em;
    border: 0;
    line-height: 2.5;
    padding: 0 40px;
  }
  .container__align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container__network {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: 20px;
    -webkit-box-shadow: -5px -5px 8px rgba(157, 43, 180, 0.363);
            box-shadow: -5px -5px 8px rgba(157, 43, 180, 0.363);
    border-radius: 10px;
  }
  .blocFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: black;
    height: 170px;
  }
  .right-sideFoot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
  .right-sideFoot a {
    margin-bottom: 20px;
  }
  .blocFooter img {
    display: none;
  }
  footer {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 800px) {
  .imageContact {
    width: 425px;
    height: 440px;
    -o-object-fit: cover;
       object-fit: cover;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
}
/*# sourceMappingURL=style.css.map */